<mat-card class="example-card" *ngIf="cart">
  <mat-card-content>
    <h2>Resumen del pedido</h2>
    <p>Tienes {{ cart.totalItemsCount }} producto/s en tu carrito de la compra</p>
  </mat-card-content>
  <mat-card-footer>
    <mat-list>
      <mat-list-item *ngFor="let item of cart.items">
        <span class="float-left">{{ item.quantity+' x '+item.title}}</span>
        <span class="float-right">{{ item.price | currency:'EUR':true}}</span>
      </mat-list-item>
      <mat-list-item class="bold">
          <span class="float-left" >Total: </span>
          <span class="float-right" >{{ cart.totalPrice | currency:'EUR':true}}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-footer>
</mat-card>